<a href="https://colab.research.google.com/github/tsaabitasabita/contoh-2/blob/main/Untitled12_ip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Understanding

In [5]:
import pandas as pd

In [9]:
df = pd.read_csv('/content/db.csv', encoding='latin-1')
print(df)

    Unnamed: 0                       Original Title Company  Rate  Metascore  \
0            1                             Iron Man  Marvel   7.9         79
1            2                  The Incredible Hulk  Marvel   6.7         61
2            3                           Iron Man 2  Marvel   7.0         57
3            4                                 Thor  Marvel   7.0         57
4            5   Captain America: The First Avenger  Marvel   6.9         66
5            6                         The Avengers  Marvel   8.0         69
6            7                       Iron Man Three  Marvel   7.2         62
7            8                 Thor: The Dark World  Marvel   6.9         54
8            9  Captain America: The Winter Soldier  Marvel   7.7         70
9           10              Guardians of the Galaxy  Marvel   8.0         76
10          11             Avengers: Age of Ultron   Marvel   7.3         66
11          12                              Ant-Man  Marvel   7.3         64
12          13           Captain America: Civil War  Marvel   7.8         75
13          14                       Doctor Strange  Marvel   7.5         72
14          15       Guardians of the Galaxy Vol. 2  Marvel   7.6         67
15          16               Spider-Man: Homecoming  Marvel   7.4         73
16          17                        Thor:Ragnarok  Marvel   7.9         74
17          18                        Black Panther  Marvel   7.3         88
18          19               Avengers: Infinity War  Marvel   8.5         68
19          20                 Ant-Man and the Wasp  Marvel   7.1         70
20          21                        Captain Marve  Marvel   6.9         64
21          22                    Avengers: Endgame  Marvel   8.5         78
22          23            Spider-Man: Far from Home  Marvel   7.6         69
23          24                             Catwoman      DC   3.3         27
24          25                        Batman Begins      DC   8.2         70
25          26                     Superman Returns      DC   6.0         72
26          27                      The Dark Knight      DC   9.0         84
27          28                             Watchmen      DC   7.6         56
28          29                           Jonah Hex       DC   4.7         33
29          30                        Green Lantern      DC   5.5         39
30          31                The Dark Knight Rises      DC   8.4         78
31          32                         Man of Steel      DC   7.1         55
32          33   Batman v Superman: Dawn of Justice      DC   6.5         44
33          34                       Suicide Squad       DC   6.0         40
34          35                         Wonder Woman      DC   7.4         76
35          36                       Justice League      DC   6.4         45
36          37                              Aquaman      DC   7.0         55
37          38                              Shazam!      DC   7.1         71
38          39                                Joker      DC   8.7         59

   Minutes  Release      Budget  Opening Weekend USA  Gross USA  \
0      126     2008   140000000             98618668  318604126
1     112      2008   150000000             55414050  134806913
2     124      2010   200000000            128122480  312433331
3      115     2011  150000000              65723338  181030624
4      124     2011   140000000             65058524  176654505
5      143     2012   220000000            207438708  623357910
6      130     2013  200000000             174144585  409013994
7      112     2013   170000000             85737841  206362140
8      136     2014   170000000             95023721  259766572
9      121     2014   170000000             94320883  333176600
10     141     2015   250000000            191271109  459005868
11     117     2015   130000000             57225526  180202163
12     147     2016   250000000            179139142  408084349
13     115     2016   165000000             85058311  232641920
14     136     2017   200000000            146510104  389813101
15     133     2017  175000000             117027503  334201140
16     130     2017   180000000            122744989  315058289
17     134     2018   200000000            202003951  700059566
18     149     2018  321000000             257698183  678815482
19     118     2018   162000000             75812205  216648740
20     123     2019  175000000             153433423  426829839
21     181     2019   356000000            357115007  858373000
22     129     2019   160000000             92579212  390532085
23     104     2004   100000000             16728411   40202379
24     140     2005   150000000             48745440  206852432
25     154     2006   270000000             52535096  200081192
26     152     2008   185000000            158411483  535234033
27     162     2009   130000000             55214334  107509799
28      81     2010   47000000               5379365   10547117
29     114     2011   200000000             53174303  116601172
30     164     2012   250000000            160887295  448139099
31     143     2013   225000000            116619362  291045518
32     151     2016   250000000            166007347  330360194
33     123     2016   175000000            133682248  325100054
34     141     2017   149000000            103251471  412563408
35     120     2017   300000000             93842239  229024295
36     143     2018   160000000             67873522  335061807
37     132     2019   100000000             53505326  140371656
38     122     2019   55000000              96202337  333204580

    Gross Worldwide
0         585366247
1         263427551
2         623933331
3         449326618
4         370569774
5        1518812988
6        1214811252
7         644783140
8         714421503
9         772776600
10       1402805868
11        519311965
12       1153296293
13        677718395
14        863756051
15        880166924
16        853977126
17       1346913161
18       2048359754
19        622674139
20       1128274794
21       2797800564
22       1131927996
23         82102379
24        373413297
25        391081192
26       1004934033
27        185258983
28         10903312
29        219851172
30       1081041287
31        668045518
32        873634919
33        746846894
34        821847012
35        657924295
36       1148161807
37        364571656
38       1060504580

In [11]:
kolom_tertentu = "Company"
if kolom_tertentu in df.columns:
    print(f"\nMenghitung jumlah kemunculan nilai unik dalam kolom '{kolom_tertentu}':")
    print(df[kolom_tertentu].value_counts())
else:
    print(f"\nKolom '{kolom_tertentu}' tidak ditemukan dalam dataset.")

Menghitung jumlah kemunculan nilai unik dalam kolom 'Company':
Company
Marvel    23
DC        16
Name: count, dtype: int64

In [12]:
print("\nMenghitung rata-rata dengan df.mean():")
print(df.mean(numeric_only=True))

Menghitung rata-rata dengan df.mean():
Unnamed: 0             2.000000e+01
Rate                   7.202564e+00
Metascore              6.366667e+01
Release                2.013795e+03
Opening Weekend USA    1.151098e+08
Gross USA              3.232659e+08
Gross Worldwide        8.275727e+08
dtype: float64

In [13]:
print("\nMenghitung median dengan df.median():")
print(df.median(numeric_only=True))

Menghitung median dengan df.median():
Unnamed: 0                    20.0
Rate                           7.3
Metascore                     67.0
Release                     2015.0
Opening Weekend USA     96202337.0
Gross USA              318604126.0
Gross Worldwide        746846894.0
dtype: float64

In [14]:
print("\nMenghitung standar deviasi dengan df.std():")
print(df.std(numeric_only=True))

Menghitung standar deviasi dengan df.std():
Unnamed: 0             1.140175e+01
Rate                   1.074706e+00
Metascore              1.386084e+01
Release                4.286942e+00
Opening Weekend USA    6.866708e+07
Gross USA              1.807086e+08
Gross Worldwide        5.332318e+08
dtype: float64

In [15]:
print("\nMenghitung korelasi antar kolom numerik dengan df.corr():")
print(df.corr(numeric_only=True))

Menghitung korelasi antar kolom numerik dengan df.corr():
                     Unnamed: 0      Rate  Metascore   Release  \
Unnamed: 0             1.000000 -0.143460  -0.281745  0.247660
Rate                  -0.143460  1.000000   0.786901  0.331977
Metascore             -0.281745  0.786901   1.000000  0.232213
Release                0.247660  0.331977   0.232213  1.000000
Opening Weekend USA   -0.112277  0.521689   0.425888  0.433480
Gross USA             -0.062961  0.609582   0.575244  0.449439
Gross Worldwide       -0.031942  0.565348   0.450119  0.552735

                     Opening Weekend USA  Gross USA  Gross Worldwide
Unnamed: 0                     -0.112277  -0.062961        -0.031942
Rate                            0.521689   0.609582         0.565348
Metascore                       0.425888   0.575244         0.450119
Release                         0.433480   0.449439         0.552735
Opening Weekend USA             1.000000   0.935783         0.933075
Gross USA                       0.935783   1.000000         0.939677
Gross Worldwide                 0.933075   0.939677         1.000000

Menghitung korelasi antar kolom numerik dengan df.corr():
                     Unnamed: 0      Rate  Metascore   Release  \
Unnamed: 0             1.000000 -0.143460  -0.281745  0.247660
Rate                  -0.143460  1.000000   0.786901  0.331977
Metascore             -0.281745  0.786901   1.000000  0.232213
Release                0.247660  0.331977   0.232213  1.000000
Opening Weekend USA   -0.112277  0.521689   0.425888  0.433480
Gross USA             -0.062961  0.609582   0.575244  0.449439
Gross Worldwide       -0.031942  0.565348   0.450119  0.552735

                     Opening Weekend USA  Gross USA  Gross Worldwide
Unnamed: 0                     -0.112277  -0.062961        -0.031942
Rate                            0.521689   0.609582         0.565348
Metascore                       0.425888   0.575244         0.450119
Release                         0.433480   0.449439         0.552735
Opening Weekend USA             1.000000   0.935783         0.933075
Gross USA                       0.935783   1.000000         0.939677
Gross Worldwide                 0.933075   0.939677         1.000000